# ── postbot ────────────────────────────────────────────────────────────────

# Required
URL=chat.collegiumacademicum.de
TOKEN=[ChangeME]
TEAM_NAME=Collegium
WEBUI_API_SECRET=[ChangeME] #same as POSTBOT_API_SECRET

# Optional — shown with their defaults
SESSION_TTL_SECONDS=500
SESSION_CLEANUP_INTERVAL_SECONDS=60
CHANNEL_CACHE_TTL_SECONDS=3600

# Logging
LOG_LEVEL=INFO
CONSOLE_LOG_LEVEL=DEBUG
LOG_FILE=/app/data/logs/bot.log

# Postbot-specific
BOT_LOG_CHANNEL_ID=d7up7w3rd7bmmcfrkrj4ujk5ec
CHANNELS_TOML_PATH=/app/data/channels.toml
DB_PATH=/app/data/broadcast_log.db
TASKS_DIR=/app/data/tasks



# ── webui ──────────────────────────────────────────────────────────────────
DJANGO_SECRET_KEY=any-random-string-for-local
ALLOWED_HOSTS=[ChangeMe],127.0.0.1
POSTBOT_API_SECRET=[ChangeME]   #same as WEBUI_API_SECRET
POSTBOT_API_URL=http://postbot:8000



LDAP_SERVER_URI=ldaps://ipa.intranet.ca-hd.de
LDAP_CA_CERT_PATH=/app/certs/ca.pem
LDAP_BIND_DN=uid=postbot-bind,cn=users,cn=accounts,dc=intranet,dc=ca-hd,dc=de
LDAP_BIND_PASSWORD=[ChangeME]
LDAP_USER_SEARCH_BASE=cn=users,cn=accounts,dc=intranet,dc=ca-hd,dc=de
LDAP_ADMIN_GROUP_DN=cn=ag.it,cn=groups,cn=accounts,dc=intranet,dc=ca-hd,dc=de


DJANGO_SUPERUSER_USERNAME=philipp
DJANGO_SUPERUSER_EMAIL=scheissspam90@gmail.com
DJANGO_SUPERUSER_PASSWORD=[siehe_1P_Philipp]